<% first_product = Product.first %>
<% product = Product.where(:name => 'rails book').first %>
<% cheap_product = Product.where('price > 1').first %>

<p>
  Product Name: "<%= first_product.name %>" costs $<%= first_product.price %>.
</p>

<p>
  The seller for this product is named '<%= first_product.user.name %>'.
</p>



<p>
  Hi, I am <%= product.name %>, my price is <%= product.price %>, and my owner is <%= product.user.name %>.
</p>

<p>
  Hi, I am <%= cheap_product.name %>, my price is <%= cheap_product.price %>, and my owner is <%= cheap_product.user.name %>.
</p>

<p>
  There are <%= Product.count %> products in the database.
</p>

<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Job title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.job_title %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
